<div class="page-navigation">
    {% include page-navigation.liquid %}
    <a href="{{ site.baseurl }}{{ previous_url }}" class="page-navigation__item page-navigation__item--previous dither dither--3">
    </a>
    <a href="{{ site.baseurl }}{{ next_url }}" class="page-navigation__item page-navigation__item--next dither dither--3">
    </a>
    <a href="#top" class="back-to-top">Back to Top</a>
</div>
