<ul class="projects-list site-nav__items">
    {% assign items = site.project_collections | sort: 'order' | reverse %}
    {% for item in items %}
        <li class="site-nav__item">
            <a href="{{ site.baseurl }}{{ item.url }}"><h2>{{ item.name }}</h2></a>
        </li>
    {% endfor %}
</ul>
