---
small_mobile: 320
med_mobile: 375
min_desktop: 667 
med_desktop: 888
margin: 4
---
/* pair of brackets is here to prevent front matter dashes from interfering */
{}

/* @import url('https://rsms.me/inter/inter.css'); */
/* html { font-family: 'Inter', sans-serif; } */
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

@font-face {
  font-family: 'work-sans-light';
  font-weight: 400;
  src: url('{{ site.baseurl }}/assets/fonts/work-sans-light.ttf');
}

@font-face {
  font-family: 'work-sans-semibold';
  font-weight: 400;
  src: url('{{ site.baseurl }}/assets/fonts/work-sans-semibold.ttf');
}

body {
  background-color: #000;
  background-image: url('{{ site.baseurl }}/assets/images/noise@2x.png');
  background-size: 1024px;
  background-repeat: repeat;
  background-attachment: fixed;
  margin: {{ page.margin }}px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}
body.project {
  justify-content: space-between;
}
@media screen and (min-width: {{ page.min_desktop }}px) {
  body {
    flex-wrap: nowrap;
  }
}
@media screen and (min-height: {{ page.min_desktop }}px) {
  body.home {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: {{ page.med_desktop }}px) {
  body.home {
    flex-wrap: nowrap;
  }
}

.site-header,
/* .site-nav, */
.site-main {
  background-color: #fff;
}

/* HEADER */
.site-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.site-header--home {
  min-height: 200px;
}
.site-header--project {
  width: auto;
  height: 31px;
  position: fixed;
  overflow: hidden;
  z-index: 3;
  background-color: transparent;
  cursor: pointer;
}
@media screen and (min-width: {{ page.min_desktop }}px) {
  .site-header--home {
    width: auto;
    flex-grow: 1;
    position: relative;
  }
}
@media screen and (min-height: {{ page.min_desktop }}px) {
  .site-header--home {
    min-height: 360px;
    margin-right: 0;
  }
}
@media screen and (min-width: {{ page.med_desktop }}px) {
  .site-header--project {
    cursor: default;
    position: absolute;
  }
}

.site-header__interior {
  position: relative;
  top: 8px;
}
@media screen and (min-width: {{ page.min_desktop }}px) {
  .site-header__interior {
    position: fixed;
    top: 30%;
  }
}
@media screen and (min-height: {{ page.min_desktop }}px) {
  .site-header__interior {
    position: relative;
    top: 8px;
  }
}
@media screen and (min-width: {{ page.med_desktop }}px) {
  .site-header__interior {
    position: fixed;
    top: 230px;
  }
}

.site-header__title {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 9px 0 18px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.site-header--project:after {
  content: '× close';
  background-image: url('{{ site.baseurl }}/assets/images/dither-7@2x.png');
  background-repeat: repeat;
  background-size: 16px;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.15s ease-in;
  opacity: 0;
  color: #fff;
}
input[type="checkbox"]#site-nav-toggle:checked ~ .site-header--project .site-header__title {
  opacity: 0;
}
input[type="checkbox"]#site-nav-toggle:checked ~ .site-header--project:after {
  opacity: 1;
}
@media screen and (min-width: {{ page.med_desktop }}px) {
  .site-header--project:after {
    display: none;
  }
  input[type="checkbox"]#site-nav-toggle:not(checked) ~ .site-header--project .site-header__title,
  input[type="checkbox"]#site-nav-toggle:checked ~ .site-header--project .site-header__title {
    opacity: 1;
  }
}

.planets {
  display: flex;
  justify-content: center;
  padding: 0 16px;
}
.planets--project {
  padding: 0 8px;
  flex-direction: column;
  align-items: center;
}

.planet {
  display: block;
  width: auto;
}

.info-header {
  width: 100%;
  height: 31px;
  display: flex;
  justify-content: flex-end;
}
@media screen and (min-width: {{ page.med_desktop }}px) {
  .info-header {
    justify-content: flex-start;
  }
}

.info-header__interior {
  width: auto;
  padding-bottom: 12px;
  border-top: 1px solid #000;
  background-color: #fff;
}
@media screen and (min-width: {{ page.med_desktop }}px) {
  .info-header__interior {
    min-width: 64px;
  }
}

/* /HEADER */
/* NAV */
.site-nav-screen {
  /* background-color: rgba(0,0,0,0.1); */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 150%;
  max-height: 150%;
  cursor: pointer;
}
input[type="checkbox"]#site-nav-toggle:not(:checked) ~ .site-nav-screen {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.2s ease-in-out, transform 0.2s step-end;
}
input[type="checkbox"]#site-nav-toggle:checked ~ .site-nav-screen {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.3s ease-in-out, transform 0s step-start;
}
@media screen and (min-width: {{ page.med_desktop }}px) {
  .site-nav-screen {
    display: none;
  }
}

.site-nav {
  padding: 4px 8px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.site-nav--home {
  min-width: 180px;
  margin: 2px 0;
}
.site-nav--project {
  display: flex;
  flex-direction: column;
  z-index: 2;
  margin-top: 30px;
  width: calc(100% - 64px);
  max-width: 460px;
  /* uncomment below if you want nav container to always try to be as tall as .site-main */
  /* min-height: calc(100% - 40px); */
  transition: transform 0.3s ease-in-out;
  transform: translateX(calc(-100% - 100px));
  position: absolute;
}
input[type="checkbox"]#site-nav-toggle:checked ~ .site-nav--project {
  transform: translateX(0);
  border: 1px solid #000;
}
@media screen and (min-width: {{ page.min_desktop }}px) {
  .site-nav--home {
    flex-basis: 56%;
    min-height: calc(100vh - ({{ page.margin }}px * 4));
    display: flex;
    margin: 0 0 0 2px;
  }
}
@media screen and (min-height: {{ page.min_desktop }}px){
  .site-nav--home {
    flex-basis: 100%;
    min-height: 0;
    margin: 2px 0;
  }
}
@media screen and (min-width: {{ page.med_desktop }}px) {
  .site-nav--home {
    flex-basis: 56%;
    min-height: calc(100vh - ({{ page.margin }}px * 4));
    margin: 0 0 0 2px;
  }
  input[type="checkbox"]#site-nav-toggle:not(:checked) ~ .site-nav--project,
  input[type="checkbox"]#site-nav-toggle:checked ~ .site-nav--project,
  .site-nav--project {
    width: 230px;
    height: auto;
    flex-shrink: 0;
    align-self: flex-start;
    transform: translateY(0);
    margin-top: 31px;
    margin-right: 2px;
    position: relative;
    border: none;
  }
}

.site-nav__items {
  width: 100%;
}

.site-nav__item {
  margin: 4px 0;
  border-radius: 8px;
  background: #fff;
  transition: border-radius 0.15s ease-out;
  display: flex;
  flex-wrap: wrap;
}
.site-nav__item:hover {
  border-radius: 20px;
}

.site-nav__expanded-margin {
  flex-shrink: 0;
  position: relative;
  margin: 56px 0 28px;
  width: 24px;
  max-height: 0;
  background-image: url('{{ site.baseurl }}/assets/images/dither-vertical-line@2x.png');
  background-repeat: repeat-y;
  background-size: 1px;
  background-position: top left 24px;
  transition: width 0.1s ease-in-out;
}
input[type="checkbox"].collection-toggle-input:checked ~ .site-nav__expanded-margin {
  width: 48px;
  max-height: 1000px;
  transition:
    width 0.1s ease-in-out,
    max-height 0.8s ease-in-out 0.1s;
  animation: Marching-dots 1.2s 16 ease-in-out 0.3s;
}
/* animation for dotted line background image */
@keyframes Marching-dots {
  from {
    /* fixes flickering markup in Safari dev tools */
    content: "";
    background-position: top 0 left 24px;
  }
  25% {
    background-position: top 1px left 24px;
  }
  50% {
    background-position: top 2px left 24px;
  }
  75% {
    background-position: top 3px left 24px;
  }
  to {
    content: "";
    background-position: top 4px left 24px;
  }
}

.site-nav__folder-icon {
  position: absolute;
  top: -10px;
  left: 16px;
  transform: translateY(-100%);
  background-image: url('{{ site.baseurl }}/assets/images/icon-folder@2x.png');
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: top left;
  width: 32px;
  height: 32px;
  opacity: 0;
}
input[type="checkbox"].collection-toggle-input:checked ~ .site-nav__expanded-margin .site-nav__folder-icon {
  top: 0;
  opacity: 1;
  transition: opacity 0.2s ease-in-out 0.2s, top 0.15s ease-out 0.2s;
}

.site-nav__collection {
  display: block;
  /* padding: 24px 0 28px; */
  flex: 1;
}

.collection-toggle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  cursor: pointer;
  padding: 24px 24px 28px 0;
  transition: padding 0.2s linear;
}

.site-nav__heading {
  margin-bottom: 12px;
  flex-basis: calc(100% - 16px);
}

.site-nav__arrow-icon {
  width: 16px;
  height: 16px;
  background-image: url('{{ site.baseurl }}/assets/images/arrow-down@2x.png');
  background-size: 16px;
  background-repeat: no-repeat;
  transform: none;
  transition: transform 0.2s ease-in-out;
}
input[type="checkbox"].collection-toggle-input:checked ~ .site-nav__collection .site-nav__arrow-icon {
  transform: rotate(-180deg) translateX(1px);
}

.site-nav__body {
  width: 100%;
  opacity: 1;
}
.collection-body {
  transform: translateY(0);
  overflow: hidden;
  max-height: 200px;
  transition: opacity 0.2s ease-in-out 0.15s;
  padding-bottom: 16px;
}
input[type="checkbox"].collection-toggle-input:checked ~ .site-nav__collection .collection-body {
  transform: translateY(-10px);
  opacity: 0;
  max-height: 0;
  transition:
    opacity 0.1s ease-in-out,
    transform 0.2s ease-in-out,
    max-height 0.1s linear 0.15s;
}

.collection-body-alternate {
  position: relative;
  opacity: 0;
  left: -10px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-in-out;
}
input[type="checkbox"].collection-toggle-input:checked ~ .site-nav__collection .collection-body-alternate {
  opacity: 1;
  left: 0;
  max-height: 200px;
  transition:
    opacity 0.2s ease-in-out 0.2s,
    left 0.2s ease-in 0.2s,
    max-height 0.1s ease-in-out;
}

.project__icons {
  display: flex;
  flex-wrap: wrap;
  opacity: 1;
  transition: opacity 0.2s ease-in-out 0.15s;
}
input[type="checkbox"].collection-toggle-input:checked ~ .site-nav__collection .project__icons--collection {
  opacity: 0;
  height: 0;
  transition: opacity 0.2s ease-in-out;
}

.project__icon {
  flex-shrink: 0;
}

/* NAV: projects list */
.site-nav__projects {
  width: 100%;
  opacity: 0;
  transform: translate(-24px, -10px);
  overflow: hidden;
  max-height: 0;
}
input[type="checkbox"].collection-toggle-input:checked ~ .site-nav__collection .site-nav__projects {
  opacity: 1;
  transform: translateY(0);
  max-height: 1000px;
  transform: translate(-24px, 0);
  margin-bottom: 28px;
  transition:
    opacity 0.2s ease-in-out 0.25s,
    transform 0.2s ease-in 0.25s,
    max-height 0.3s ease-in-out;
}

.site-nav__project {
  /* display: inline-block; */
  margin: 2px 2px 2px 2px;
  border-radius: 6px;
  background: #fff;
  cursor: pointer;
  transition: border-radius 0.1s ease-out;
}
.site-nav__project:hover {
  border-radius: 16px;
}

.project__link {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px 22px 24px;
}

.project__heading {
  width: 100%;
}

.project__body {
  width: 100%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: {{ page.small_mobile }}px),
screen and (min-width: {{ page.med_desktop }}px) {
  .project__body {
    flex-wrap: wrap;
  }
}

.project__body .project__icons,
.project__body .project__description {
  margin-top: 16px;
  flex-basis: 50%;
}

@media screen and (max-width: {{ page.small_mobile }}px),
screen and (min-width: {{ page.med_desktop }}px) {
  .project__body .project__icons,
  .project__body .project__description {
    flex-basis: 100%;
  }
}

/* /NAV: projects list */
/* /NAV */
/* MAIN */
.project__page {
  flex-grow: 1;
}

.site-main {
}
.site-main--home {
  overflow: auto;
}
.site-main--project {
  min-height: 600px;
  flex-grow: 1;
  /* padding: 12px 13px 24px 16px; */
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: {{ page.med_desktop }}px) {
  .site-main--project {
    margin-bottom: 1px;
    /* padding: 12px 16px; */
  }
}

.project__header {
  display: flex;
  flex-direction: row-reverse;
  padding: 12px 16px;
}
@media screen and (min-width: {{ page.med_desktop }}px) {
  .project__header {
    flex-direction: column;
    padding: 20px 16px;
  }
}

.project__breadcrumbs {
  width: 36px;
}

.breadcrumbs {
  /* text-align: right; */
  /* margin-top: 12px; */
  transform: rotate(90deg);
  margin-top: 4px;
  margin-left: 28px;
}
.breadcrumbs,
.breadcrumbs__item {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
@media screen and (min-width: {{ page.med_desktop }}px) {
  .breadcrumbs,
  .breadcrumbs__item {
    transform: none;
  }
  .breadcrumbs {
    margin-top: 4px;
    margin-left: 0;
  }
}

.breadcrumbs li:last-child:before {
  content: '';
  display: block;
  height: 16px;
  width: 32px;
  background-image: url('{{ site.baseurl }}/assets/images/caret-right@2x.png');
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center top 1px;
}

/* MAIN: Project */
.project__title {
  flex: 1;
}
@media screen and (min-width: {{ page.med_desktop }}px) {
  .project__title {
    margin-top: 16px;
  }
}

.project__section--video {
  padding: 24px 48px 24px 16px;
}
@media screen and (min-width: {{ page.min_desktop }}px) {
 .project__section--video {
    padding: 24px 48px 48px 48px;
  }
}

.project__section--video video {
  background-color: #000;
  max-width: 640px;
  width: 100%;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.project__section--image {
    padding: 24px 48px 48px 48px;
}

.project__section--image img {
  max-width: 640px;
  width: 100%;
}

.project__section--full-bleed {
  min-height: 160px;
  display: flex;
}

.site-main--project > p,
.site-main--project > h1,
.site-main--project > h2,
.site-main--project > h3 {
  margin: 8px 16px;
}

.super-deluxe-store-tile--geometric {
  width: 100%;
  background-image: url('{{ site.baseurl }}/assets/images/super-deluxe/super-deluxe-tile-pastel.jpg');
  background-position: top 0px left 0px;
  background-size: 160px;
  background-repeat: repeat;
  box-shadow: inset 0 1px 4px rgba(0,0,0,0.2);
  animation: SD-tile-diagonal 4s 24 linear 0.5s;
}
@keyframes SD-tile-diagonal {
  from {
    background-position: top 0px left 0px;
  }
  to {
    background-position: top 120px left 160px;
  }
}
.super-deluxe-store-tile--squiggles {
  width: 100%;
  background-image: url('{{ site.baseurl }}/assets/images/super-deluxe/green-squiggles.png');
  background-position: top 0px left 0px;
  background-color: #bbfeef;
  background-size: 160px;
  background-repeat: repeat;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  animation: SD-tile-vertical 4s 24 ease-in-out alternate 0.5s;
}
@keyframes SD-tile-vertical {
  from {
    background-position: top 0px left 0px;
    background-color: #bbfeef;
  }
  50% {
    background-color: #fafebb;
  }
  to {
    background-position: top 160px left 0px;
    background-color: #bbfeef;
  }
}

.project__section--image-thumbnails {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: {{ page.med_mobile }}px) {
  .project__section--image-thumbnails {
    flex-wrap: wrap;
  }
}

.project__section--image-thumbnails img {
  display: block;
  width: 100%;
  max-width: 320px;
  flex-basis: calc(50% - 16px);
  margin: 0 16px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}
@media screen and (max-width: {{ page.med_mobile }}px) {
  .project__section--image-thumbnails img {
    flex-basis: 100%;
    margin-bottom: 32px;
  }
}

/* /MAIN: Project */
/* /MAIN */
/* HOMEPAGE ANIMATIONS */
@keyframes World-appear {
  from {
    opacity: 0;
    background-size: 32px;
  }
  60% {
    opacity: 0;
  }
  80% {
    background-size: 32px;
  }
  to {
    background-size: 80px;
    opacity: 1;
  }
}

@keyframes World-appear-small {
  from {
    opacity: 0;
    background-size: 8px;
  }
  60% {
    opacity: 0;
  }
  80% {
    background-size: 8px;
  }
  to {
    background-size: 32px;
    opacity: 1;
  }
}

@keyframes World-hover {
  from {
    top: 0px;
  }
  to {
    top: 8px;
  }
}

@keyframes Wireframe-world-appear {
  from {
    left: 120px;
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes Wireframe-world-hover {
  from {
    top: 16px;
  }
  to {
    top: 24px;
  }
}

/* /HOMEPAGE ANIMATIONS */
/* ICONOGRAPHY */
.planet {
  margin: 6px 8px;
}
.planet--home {
  margin: 16px 8px;
}

.icon-world {
  position: relative;
  width: 32px;
  height: 32px;
  background-image: url('{{ site.baseurl }}/assets/images/icon-world@2x.png');
  background-size: 32px;
  background-repeat: no-repeat;
  animation:
    Wireframe-world-appear 0.8s ease-in,
    Wireframe-world-hover 2s ease-in-out infinite alternate 0.2s;
}

.world {
  position: relative;
  width: 80px;
  height: 80px;
  background-image: url('{{ site.baseurl }}/assets/images/world.png');
  background-size: 80px;
  background-repeat: no-repeat;
  animation:
    World-appear 1 0.6s linear,
    World-hover 1.6s ease-in-out infinite alternate 0.2s;
}
.world--project {
  width: 24px;
  height: 24px;
  margin: 6px 0;
  background-size: 24px;
  border-radius: 100%;
  background-color: white;
  border: 2px solid #fff;
  animation:
    World-appear-small 1 0.6s linear,
    World-hover 1.6s ease-in-out infinite alternate 0.2s;
}
@media screen and (min-width: {{ page.med_desktop }}px) {
  .world--project {
    width: 32px;
    height: 32px;
    margin: 6px 8px;
    background-size: 32px;
    border: 4px solid #fff;
  }
}

.project__icon {
  background-repeat: no-repeat;
  background-size: 32px;
  width: 32px;
  height: 32px;
}
.icon-code {
  background-image: url('{{ site.baseurl }}/assets/images/icon-code@2x.png');
}
.icon-graphic {
  background-image: url('{{ site.baseurl }}/assets/images/icon-graphic@2x.png');
}
.icon-presentation {
  background-image: url('{{ site.baseurl }}/assets/images/icon-presentation@2x.png');
}
.icon-sound {
  background-image: url('{{ site.baseurl }}/assets/images/icon-sound@2x.png');
}
.icon-ux {
  background-image: url('{{ site.baseurl }}/assets/images/icon-ux@2x.png');
}

/* /ICONOGRAPHY */
/* TYPOGRAPHY */
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-family: /* 'Inter var',*/ system-ui, -apple-system, sans-serif;
  font-weight: 250;
  /* comment out above and replace with below for old style */
  /* font-family: 'work-sans-light', sans-serif; */
}

/**
 * Firefox specific rule
 */

/* @-moz-document url-prefix() {
   body {
   font-weight: lighter !important;
   }
   } */

body {
  -webkit-text-size-adjust: 100%;
}

body * {
  line-height: 1.2;
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-header__site-title,
.site-header__title,
.site-header:after,
.info-header {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 10px;
  text-align: center;
}

.site-header__site-title {
  font-size: 16px;
  position: relative;
  left: 4px;
}
@media screen and (min-width: {{ page.min_desktop }}px) {
  .site-header__site-title {
    font-size: 12px;
  }
}
@media screen and (min-height: {{ page.min_desktop }}px) {
  .site-header__site-title {
    font-size: 24px;
    margin-bottom: 8px;
  }
}
@media screen and (min-width: {{ page.med_desktop }}px) {
  .site-header__site-title {
    font-size: 16px;
  }
}

.project__title {
  font-size: 24px;
  font-weight: 750;
  letter-spacing: 0.8px;
  margin-top: 8px;
}
@media screen and (min-width: {{ page.min_desktop }}px) {
  .project__title {
    margin-top: 16px;
    font-size: 30px;
  }
}

.site-nav__heading,
.project__heading {
  font-weight: 650;
  color: #000;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.6px;
}

.site-nav__body,
.site-nav__project {
  font-size: 11px;
  letter-spacing: 0.5px;
  line-height: 14px;
}
.site-nav__body.collection-body-alternate {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.project__link {
  color: #000;
  text-decoration: none;
}

.breadcrumbs__item,
.breadcrumbs__item a {
  color: #000;
  font-weight: 100;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.6px;
}

/* /TYPOGRAPHY */
/* UTILITIES */
.invisible {
  height: 0;
  width: 0;
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.white {
  background-color: #fff;
}
.dither {
  background-image: url('{{ site.baseurl }}/assets/images/dither@2x.png');
  background-repeat: repeat;
  background-size: 16px;
  background-position: top -1px left;
}
.dither--3 {
  background-image: url('{{ site.baseurl }}/assets/images/dither-3@2x.png');
}
.lace {
  background-image: url('{{ site.baseurl }}/assets/images/dither-7@2x-white.png');
  background-repeat: repeat;
  background-size: 16px;
}
.lace-dither {
  background-image: url('{{ site.baseurl }}/assets/images/dither@2x.png'), url('{{ site.baseurl }}/assets/images/dither-7@2x-white.png');
  background-repeat: repeat;
  background-size: 16px;
}
/* /UTILITIES */

