---
layout: default
---
<body class="home">
    <header class="site-header site-header--home">
        <div class="site-header__interior">
            <h1 class="site-header__site-title">{{ site.title }}</h1>
            <div class="site-header__planets">
                <div class="site-header__planet icon-world"></div>
                <div class="site-header__planet world"></div>
            </div>
        </div>
    </header>
    <nav class="site-nav site-nav--home white dither">
        {% include site-nav-items.liquid %}
    </nav>
</body>
