---
layout: default
---
<body class="project">
    <div id="top"></div>
    <input name="site-nav-toggle" id="site-nav-toggle" class="invisible" type="checkbox" value=""/>
    <label for="site-nav-toggle" class="site-header site-header--project">
        <h1 class="site-header__title lace">Projects</h1>
    </label>
    <label for="site-nav-toggle" class="site-nav-screen dither dither--3"></label>
    <nav class="site-nav site-nav--project white dither">
        {% include site-nav-items.liquid %}
    </nav>
    <article class="project__page">
        <div class="info-header">
            <div class="info-header__interior dither">
                <a href="{{ site.baseurl }}/" class="planets planets--project">
                    <div class="planet world world--project"></div>
                </a>
            </div>
        </div>
        <main class="site-main site-main--project">
            <header class="project__header">
                {% include project-breadcrumbs.liquid %}
                {% include page-navigation-desktop.liquid %}
            </header>
            <h1 class="project__title">{{ page.name }}</h1>
            <p class="project__page-description">{{ page.description }}</p>
            {{ content }}
        </main>
        {% include page-navigation-mobile.liquid %}
    </article>
</body>
